<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.subject.infra.basic.mapper.SubjectLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dk.subject.infra.basic.entity.SubjectLabel">
        <id column="id" property="id" />
        <result column="label_name" property="labelName" />
        <result column="sort_num" property="sortNum" />
        <result column="category_id" property="categoryId" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用条件 -->
    <sql id="queryGeneralConditions">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="labelName != null and labelName != ''">
            AND label_name LIKE CONCAT('%', #{labelName}, '%')
        </if>
        <if test="sortNum != null">
            AND sort_num = #{sortNum}
        </if>
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
        <if test="createdBy != null">
            AND created_by = #{createdBy}
        </if>
        <if test="updateBy != null">
            AND update_by = #{updateBy}
        </if>
        <if test="delFlag != null">
            AND del_flag = #{delFlag}
        </if>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, label_name, sort_num, created_by, created_time, update_by, update_time, del_flag
    </sql>

    <select id="count" resultType="Long" parameterType="com.dk.subject.infra.basic.entity.SubjectLabel">
        SELECT COUNT(`id`) FROM subject_label
        <where>
            <include refid="queryGeneralConditions"/>
        </where>
    </select>

    <select id="querySubjectLabelList" parameterType="Long"
            resultType="com.dk.subject.infra.basic.entity.SubjectLabel">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            subject_label
        <where>
            del_flag = 0
            AND id IN
            <foreach collection="labelIds" item="labelId" open="(" separator="," close=")">
                #{labelId}
            </foreach>
        </where>
    </select>

    <select id="queryLabelListByCategoryId" resultType="com.dk.subject.infra.basic.entity.SubjectLabel">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            subject_label
        <where>
            del_flag = 0
            AND category_id = #{categoryId,jdbcType=BIGINT}
        </where>
    </select>
</mapper>
